* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white; 
    justify-content: space-between; 
    padding: 0 20px;
    color: black;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000; 
}
.logo {
    height: 60px;
}
.logo-img {
    height: 90%;
    width: auto; 
}
.links {
    display: flex;
    align-items: center;
    transition: all 0.3s ease; 
}
ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    margin-right: 20px; 
}
.nav-link {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: inherit;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: black;
}
.nav-link.active {
    color: black;
    border-bottom: 2px solid red; 
}
@media (max-width: 700px) {
    .navbar {
        flex-direction: row; 
        height: auto;
    }
    .links {
        display: none; 
        width: 100%;
        flex-direction: column; 
        text-align: center;
        background-color: white;
        position: absolute;
        top: 70px; 
        left: 0;
        transition: max-height 0.3s ease;
        max-height: 0; 
        overflow: hidden;
    }
    .links.active {
        display: flex; 
        max-height: 500px; 
    }
    ul {
        flex-direction: column; 
        padding: 10px 0; 
        margin: 0; 
    }
    li {
        margin: 10px 0; 
    }
    .toggle-button {
        display: flex;
        font-size: 30px;
        color: black;
        cursor: pointer;
        padding: 10px;
        margin-top: 10px; 
    }
}
